[submodule "addons/godot-rgmap/native/godot-cpp"]
	path = addons/godot-rgmap/native/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 3.x
[submodule "addons/godot-rgmap/docs/doxygen-awesome-css"]
	path = addons/godot-rgmap/docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
